@use "../styles/_variables.scss" as *;

body {
  margin: 0;
  font-family: $font-family; 
  background-color: $background-color; 
  color: $secondary-color; 
}

h1, h2, h3, h4, h5, h6, p, a, li, button, input {
  font-family: $font-family; 

}

h2, p {
  margin: 20px; 
}

.home,
.classes,
.about,
.contact,
.reservas {
  padding: 2rem;
  text-align: center;  /* Asegura que el texto esté centrado */
  margin-top: 20px;    /* Espacio adicional al principio de cada sección */

  h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: $primary-color; /* Usamos la variable de color */
  }

  p {
    font-size: 1.2rem;
    color: $secondary-color; /* Usamos la variable de color */
  }

}
