@use "../styles/_variables.scss" as *;

@import url('https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&display=swap');



body {
  margin: 0;
  font-family: $font-family; 
  background-color: $background-color; 
  color: $secondary-color; 
}

h1, h2, h3, h4, h5, h6, p, a, li, button, input {
  font-family: inherit; 
}

.home,
.about,
.classes,
.contact {
  padding: 2rem;
  text-align: center;

  h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: $primary-color;
  }

  p {
    font-size: 1.2rem;
    color: $secondary-color;
  }
}
